.input-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 26vw;
  border: none;
  background-color: grey;
  color: white;
  font-size: xx-large;
  font-weight: bold;
  outline: none;
  border-radius: 10px 10px 0 0;
}

.btn-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 25vw;
  background-color: black;
}

.main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.disp-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 5vw;
  height: 10vh;
  border-radius: 50%;
  border: none;
  background-color: black;
  color: white;
  font-size: x-large;
}

button:hover {
  background-color: grey;
}
